<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="bodybackground">
    <header class="entete_page_bein ">
        
        
        <p class="entete_page_bein";>
           <div class="premiere_ligne"> 
              <a  href="#"><img class="imageentete" src="/img/icone1.png" alt="logoZS" title="M.BricoDeco"/></a>
              <a href="https://www.neobux.com/?r=naraouf"><img src="https://www.neobux.com/imagens/banner9.gif" width="468" height="60"></a>
              <a class="expressionentete"><img src="expressionentete.png" alt=""/></a>
              
           </div>

           <div class="deuxieme_ligne">
           <div id="searchbar" >
              <span class="text">Bienvenu sur le blog M.BricoDeco !</span>
              <!-- <form action=""> -->
               <!-- <input class="champ" type="text" placeholder="Search..."/> -->
                <!-- <input class="bouton" type="button" value=""/> -->
              <!-- </form> -->
            </div>
            <nav class="navbarse collapse" id="menunav" >
            <section>
        <a href="log">inscription</a>
        <form action="/login" method="POST">
            <input type="email" name="email" id="">
            <input type="password" name="password" id="">
            <input type="submit" value="submit">
        </form>
        </section>
            </nav>
            
          </div>
              
    </header>
    <div class="conteneur">    
    <h2 class="alerte">{{ nouv }}</h2></div>
       
            <div class="conteneur"> 
            <h2 class="alerte">{{nouveau}}</h2>
        </div>
        

            
            <div id="blocimg">
     
              <img  class="imageenteteB" src="/img/icone1.png" alt="logoZS" title="M.BricoDeco">
            </div>
</body>
</html>